In [1]:
import pandas as pd

In [36]:
xls = pd.ExcelFile('DataTales.xlsx')
test_scores = pd.read_excel(xls, 'Test scores')
test_master = pd.read_excel(xls, 'Test master')
test_scores.head()

,Participant identifier,Test Name,Test taken date,Track,Designation,Score
0,37MCTM,If conditional,2018-11-23,Engineering,Lead,18
1,37MCTM,Determiners and Quantifiers,2018-11-23,Engineering,Lead,28
2,37MCTM,Modals,2018-11-23,Engineering,Lead,22
3,37MCTM,Tenses,2018-11-13,Engineering,Lead,12
4,37MCTM,Pronouns,2018-11-13,Engineering,Lead,15

In [3]:
total_marks = 0;
for index, row in test_master.iterrows():
    #     print (row['No. of questions'])
    total_marks += row['No. of questions'] * row['Marks per question']

In [4]:
total_marks

480

In [52]:
total_designation = test_scores.groupby(['Designation'])

In [69]:
count = total_designation['Score'].count().values

In [73]:
keys = total_designation['Score'].sum().keys().values

In [65]:
scores = total_designation['Score'].sum().values

In [82]:
list_1 = list()    
list_1.append(keys)

In [84]:
list_1.append(count)

In [86]:
list_1.append(scores)

In [92]:
print (list_1)

[array(['Associate', 'Associate Director and above', 'Consultant', 'Lead',
       'Manager'], dtype=object), array([2963,  542,  335, 3036,  707], dtype=int64), array([54817, 10568,  6849, 56106, 13820], dtype=int64)]