In [66]:
# % of participants who took all test

In [67]:
import pandas as pd

In [68]:
xls = pd.ExcelFile('DataTales.xlsx')
test_scores = pd.read_excel(xls, 'Test scores')
test_master = pd.read_excel(xls, 'Test master')
test_scores.head()

,Participant identifier,Test Name,Test taken date,Track,Designation,Score
0,37MCTM,If conditional,2018-11-23,Engineering,Lead,18
1,37MCTM,Determiners and Quantifiers,2018-11-23,Engineering,Lead,28
2,37MCTM,Modals,2018-11-23,Engineering,Lead,22
3,37MCTM,Tenses,2018-11-13,Engineering,Lead,12
4,37MCTM,Pronouns,2018-11-13,Engineering,Lead,15

In [69]:
numberof_test, col = test_master.shape

In [70]:
# .size -  find the count of each group
data = test_scores[['Participant identifier','Test Name']].groupby(['Participant identifier']).size()

In [71]:
person_taken_all_test = []
for i, d in data.items():
    if(d == numberof_test):
        person_taken_all_test.append(i)

In [80]:
person_taken_all_test

['10GFGV',
 '11HLKL',
 '12NCQA',
 '13DJII',
 '13TOGJ',
 '14LXXT',
 '15TBZX',
 '15XPYB',
 '16BZQZ',
 '16RSGW',
 '16SQHE',
 '16VEDE',
 '16XIRN',
 '17BNQF',
 '18ETRZ',
 '18KYHL',
 '18NIJQ',
 '18UYTF',
 '18YFXD',
 '19PDTD',
 '19SKOE',
 '20CMMD',
 '20JLTL',
 '20KDHP',
 '21BNHA',
 '22BIOQ',
 '23DJAF',
 '23KBRK',
 '23RENW',
 '24GXPB',
 '24IIVE',
 '24ZZXG',
 '25AHKM',
 '25ETWS',
 '26MXPO',
 '28SLBG',
 '28WPOO',
 '29NAAA',
 '29QKAR',
 '29QVDW',
 '29RTCX',
 '29YPAK',
 '30GQEJ',
 '30HPSV',
 '30PMJV',
 '30TORA',
 '31CISZ',
 '31DXDS',
 '31MRRD',
 '32KMCY',
 '33IODW',
 '33WWXE',
 '34EVCZ',
 '34KPXU',
 '34MEFP',
 '34ONIT',
 '35DBEQ',
 '35LHFG',
 '35TSBG',
 '35UABM',
 '35ZGNH',
 '36ASDD',
 '36DRJV',
 '36FQRX',
 '36UPFY',
 '37ATSE',
 '37XTHB',
 '38HIUF',
 '38RUDO',
 '38ZWQB',
 '39AMRV',
 '39NATA',
 '40CHIZ',
 '41APAJ',
 '41NGML',
 '43BZYT',
 '43RTIY',
 '45KDIW',
 '45TQMB',
 '45YPMH',
 '46OKZN',
 '47CMEO',
 '47QCWW',
 '50JMCT',
 '50QMJX',
 '50VFRV',
 '51VVMG',
 '52FAPW',
 '54ASMZ',
 '56CQZX',
 '56JTHH',
 '57MZRP',
 '58TQWK',
 '58XOGL',
 '59GAGW',
 '59RVVH',
 '61CYPP',
 '61MDWO',
 '61XYAN',
 '63AKOO',
 '63NJCB',
 '63UZPY',
 '63ZIEK',
 '64USKT',
 '65JZNZ',
 '65QZUB',
 '65ULGB',
 '66HTPY',
 '67FPXY',
 '67QGLX',
 '67UEHF',
 '67UIHW',
 '69CPGV',
 '69DMJE',
 '69QDDZ',
 '70CGCM',
 '70GNFQ',
 '70YKNP',
 '71BLLG',
 '71GRLW',
 '71SFZE',
 '71VZJH',
 '71WCEA',
 '71ZYSX',
 '73EZSR',
 '73GZLK',
 '73IQKB',
 '73WOZC',
 '74CNWY',
 '74JSCO',
 '74UHNK',
 '74XURA',
 '75OMAS',
 '75ONXU',
 '75XDPZ',
 '77CHXM',
 '78EFTJ',
 '78MWRF',
 '79FLWF',
 '79RZKY',
 '81AIBP',
 '81FDXN',
 '81FPXS',
 '81UEYE',
 '82BWXQ',
 '82TDKB',
 '83IPRQ',
 '84APDL',
 '85DPZD',
 '86KPLY',
 '86NEFE',
 '86OYOK',
 '87FOTT',
 '87KCLV',
 '87WUXS',
 '88CNBU',
 '88HOGU',
 '89GIAX',
 '89OZLQ',
 '90UDUO',
 '91IETE',
 '91VVID',
 '92VHWG',
 '93CLFW',
 '93DTHN',
 '94LBGJ',
 '94SIIU',
 '95NCJS',
 '95NGWU',
 '95PSYE',
 '95UROK',
 '95YPOV',
 '96JYRB',
 '96TSCG',
 '97MAEI',
 '97VUYD',
 '98MRUP',
 '98XDFR',
 '99BJJD',
 '99GAXQ',
 '99HJIC',
 '99ZNTI']

In [81]:
num_of_person_taken_all_test = len(person_taken_all_test)

In [82]:
total_person_taken_test = data.size

In [83]:
all_exam_percentage = num_of_person_taken_all_test / total_person_taken_test * 100

In [86]:
all_exam_percentage
not_all_exam_taken_percentage = 100 - all_exam_percentage

In [87]:
print (all_exam_percentage, not_all_exam_taken_percentage)

17.533718689788053 82.46628131021194