In [2]:
import pandas as pd

In [3]:
xls = pd.ExcelFile('DataTales.xlsx')

In [4]:
test_scores = pd.read_excel(xls, 'Test scores')
test_master = pd.read_excel(xls, 'Test master')

In [5]:
test_scores.head()

,Participant identifier,Test Name,Test taken date,Track,Designation,Score
0,37MCTM,If conditional,2018-11-23,Engineering,Lead,18
1,37MCTM,Determiners and Quantifiers,2018-11-23,Engineering,Lead,28
2,37MCTM,Modals,2018-11-23,Engineering,Lead,22
3,37MCTM,Tenses,2018-11-13,Engineering,Lead,12
4,37MCTM,Pronouns,2018-11-13,Engineering,Lead,15

In [6]:
total_individual = test_scores.groupby(['Participant identifier'])[['Score']].sum()
# len (total_individual) # 1038
# sample = total_individual[0:10]

In [16]:
total_individual =  total_individual.sort_values(by=['Score'],ascending=False)

In [17]:
total_individual[0:10]

                        Score
Participant identifier
70YKNP                    435
78MWRF                    435
87WUXS                    434
91IETE                    430
21BNHA                    427
89OZLQ                    422
96JYRB                    418
97VUYD                    418
61XYAN                    418
38ZWQB                    417

In [18]:
total_marks = 0;
for index, row in test_master.iterrows():    
    total_marks += row['No. of questions'] * row['Marks per question']

In [19]:
total_marks

480

In [20]:
individual_percentage = []
for identifier, score in total_individual.iterrows():        
    individual_data = []
    individual_data.append(identifier)
    individual_data.append(score.values[0])
    percentage = score.values[0] / total_marks * 100
    individual_data.append(round(percentage,2))
    individual_percentage.append(individual_data)

In [31]:
individual_percentage[0:10]

[['70YKNP', 435, 90.62],
 ['78MWRF', 435, 90.62],
 ['87WUXS', 434, 90.42],
 ['91IETE', 430, 89.58],
 ['21BNHA', 427, 88.96],
 ['89OZLQ', 422, 87.92],
 ['96JYRB', 418, 87.08],
 ['97VUYD', 418, 87.08],
 ['61XYAN', 418, 87.08],
 ['38ZWQB', 417, 86.88]]