In [3]:
import pandas as pd

In [4]:
xls = pd.ExcelFile('DataTales.xlsx')
test_scores = pd.read_excel(xls, 'Test scores')
test_master = pd.read_excel(xls, 'Test master')
test_scores.head()

,Participant identifier,Test Name,Test taken date,Track,Designation,Score
0,37MCTM,If conditional,2018-11-23,Engineering,Lead,18
1,37MCTM,Determiners and Quantifiers,2018-11-23,Engineering,Lead,28
2,37MCTM,Modals,2018-11-23,Engineering,Lead,22
3,37MCTM,Tenses,2018-11-13,Engineering,Lead,12
4,37MCTM,Pronouns,2018-11-13,Engineering,Lead,15

In [12]:
# .size -  find the count of each group
data = test_scores[['Test taken date']].groupby(['Test taken date']).size()

In [30]:
datewise_exam_attems = []
for i, d in data.items():
    datewise_exam_attems.append([i, d])

In [33]:
datewise_exam_attems

[[Timestamp('2018-10-26 00:00:00'), 1202],
 [Timestamp('2018-10-27 00:00:00'), 143],
 [Timestamp('2018-10-28 00:00:00'), 59],
 [Timestamp('2018-10-29 00:00:00'), 535],
 [Timestamp('2018-10-30 00:00:00'), 440],
 [Timestamp('2018-10-31 00:00:00'), 209],
 [Timestamp('2018-11-01 00:00:00'), 190],
 [Timestamp('2018-11-02 00:00:00'), 142],
 [Timestamp('2018-11-03 00:00:00'), 28],
 [Timestamp('2018-11-04 00:00:00'), 13],
 [Timestamp('2018-11-05 00:00:00'), 161],
 [Timestamp('2018-11-06 00:00:00'), 63],
 [Timestamp('2018-11-07 00:00:00'), 10],
 [Timestamp('2018-11-08 00:00:00'), 14],
 [Timestamp('2018-11-09 00:00:00'), 38],
 [Timestamp('2018-11-10 00:00:00'), 9],
 [Timestamp('2018-11-11 00:00:00'), 8],
 [Timestamp('2018-11-12 00:00:00'), 75],
 [Timestamp('2018-11-13 00:00:00'), 154],
 [Timestamp('2018-11-14 00:00:00'), 123],
 [Timestamp('2018-11-15 00:00:00'), 65],
 [Timestamp('2018-11-16 00:00:00'), 98],
 [Timestamp('2018-11-17 00:00:00'), 42],
 [Timestamp('2018-11-19 00:00:00'), 52],
 [Timestamp('2018-11-20 00:00:00'), 129],
 [Timestamp('2018-11-21 00:00:00'), 143],
 [Timestamp('2018-11-22 00:00:00'), 105],
 [Timestamp('2018-11-23 00:00:00'), 58],
 [Timestamp('2018-11-24 00:00:00'), 17],
 [Timestamp('2018-11-25 00:00:00'), 14],
 [Timestamp('2018-11-26 00:00:00'), 121],
 [Timestamp('2018-11-27 00:00:00'), 111],
 [Timestamp('2018-11-28 00:00:00'), 249],
 [Timestamp('2018-11-29 00:00:00'), 270],
 [Timestamp('2018-11-30 00:00:00'), 374],
 [Timestamp('2018-12-01 00:00:00'), 96],
 [Timestamp('2018-12-02 00:00:00'), 30],
 [Timestamp('2018-12-03 00:00:00'), 160],
 [Timestamp('2018-12-04 00:00:00'), 120],
 [Timestamp('2018-12-05 00:00:00'), 133],
 [Timestamp('2018-12-06 00:00:00'), 132],
 [Timestamp('2018-12-07 00:00:00'), 80],
 [Timestamp('2018-12-08 00:00:00'), 36],
 [Timestamp('2018-12-09 00:00:00'), 21],
 [Timestamp('2018-12-10 00:00:00'), 63],
 [Timestamp('2018-12-11 00:00:00'), 612],
 [Timestamp('2018-12-12 00:00:00'), 239],
 [Timestamp('2018-12-13 00:00:00'), 331],
 [Timestamp('2018-12-14 00:00:00'), 100]]