In [88]:
import pandas as pd

In [89]:
xls = pd.ExcelFile('DataTales.xlsx')

In [90]:
test_scores = pd.read_excel(xls, 'Test scores')
test_master = pd.read_excel(xls, 'Test master')

In [91]:
test_scores.head()

,Participant identifier,Test Name,Test taken date,Track,Designation,Score
0,37MCTM,If conditional,2018-11-23,Engineering,Lead,18
1,37MCTM,Determiners and Quantifiers,2018-11-23,Engineering,Lead,28
2,37MCTM,Modals,2018-11-23,Engineering,Lead,22
3,37MCTM,Tenses,2018-11-13,Engineering,Lead,12
4,37MCTM,Pronouns,2018-11-13,Engineering,Lead,15

In [92]:
type(test_scores)

pandas.core.frame.DataFrame

In [106]:
total_individual = test_scores.groupby(['Participant identifier'])[['Score']].sum()
# len (total_individual) # 1038

In [114]:
a = total_individual[0:1]

In [125]:
z = a['Score']

In [153]:
z.keys()[0]

Participant identifier
10BDLN    86
Name: Score, dtype: int64

In [85]:
total_marks = 0;
for index, row in test_master.iterrows():
    #     print (row['No. of questions'])
    total_marks += row['No. of questions'] * row['Marks per question']

In [86]:
total_marks

480