In [8]:
# No. of people attempts exam from start to end
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
xls = pd.ExcelFile('DataTales.xlsx')
test_scores = pd.read_excel(xls, 'Test scores')
test_master = pd.read_excel(xls, 'Test master')
test_scores.head()

,Participant identifier,Test Name,Test taken date,Track,Designation,Score
0,37MCTM,If conditional,2018-11-23,Engineering,Lead,18
1,37MCTM,Determiners and Quantifiers,2018-11-23,Engineering,Lead,28
2,37MCTM,Modals,2018-11-23,Engineering,Lead,22
3,37MCTM,Tenses,2018-11-13,Engineering,Lead,12
4,37MCTM,Pronouns,2018-11-13,Engineering,Lead,15

In [10]:
# .size -  find the count of each group
data = test_scores[['Test taken date']].groupby(['Test taken date']).size()

In [11]:
datewise_exam_attems = []
for i, d in data.items():
    date = str(i).split(' ')[0]
    datewise_exam_attems.append([date, d])

In [12]:
x = [row[0] for row in datewise_exam_attems]
y = [row [1] for row in datewise_exam_attems]

In [14]:
y

[1202,
 143,
 59,
 535,
 440,
 209,
 190,
 142,
 28,
 13,
 161,
 63,
 10,
 14,
 38,
 9,
 8,
 75,
 154,
 123,
 65,
 98,
 42,
 52,
 129,
 143,
 105,
 58,
 17,
 14,
 121,
 111,
 249,
 270,
 374,
 96,
 30,
 160,
 120,
 133,
 132,
 80,
 36,
 21,
 63,
 612,
 239,
 331,
 100]