In [1]:
# top 10 scorer


import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator

In [14]:
xls = pd.ExcelFile('DataTales.xlsx')
test_scores = pd.read_excel(xls, 'Test scores')
test_master = pd.read_excel(xls, 'Test master')

In [15]:
test_scores.head()

,Participant identifier,Test Name,Test taken date,Track,Designation,Score
0,37MCTM,If conditional,2018-11-23,Engineering,Lead,18
1,37MCTM,Determiners and Quantifiers,2018-11-23,Engineering,Lead,28
2,37MCTM,Modals,2018-11-23,Engineering,Lead,22
3,37MCTM,Tenses,2018-11-13,Engineering,Lead,12
4,37MCTM,Pronouns,2018-11-13,Engineering,Lead,15

In [16]:
total_individual = test_scores.groupby(['Participant identifier'])[['Score']].sum()
# len (total_individual) # 1038
# sample = total_individual[0:10]

In [17]:
total_individual =  total_individual.sort_values(by=['Score'],ascending=False)

In [18]:
total_individual[0:10]

                        Score
Participant identifier
70YKNP                    435
78MWRF                    435
87WUXS                    434
91IETE                    430
21BNHA                    427
89OZLQ                    422
96JYRB                    418
97VUYD                    418
61XYAN                    418
38ZWQB                    417

In [87]:
total_marks = 0;
for index, row in test_master.iterrows():    
    total_marks += row['No. of questions'] * row['Marks per question']

In [88]:
total_marks

480

In [89]:
individual_percentage = []
for identifier, score in total_individual.iterrows():        
    individual_data = []
    individual_data.append(identifier)
    individual_data.append(score.values[0])
    percentage = score.values[0] / total_marks * 100
    individual_data.append(round(percentage,2))
    individual_percentage.append(individual_data)

In [90]:
top_ten = individual_percentage[0:10]

In [91]:
top_ten_zip = zip(*top_ten)

In [92]:
a = list(top_ten_zip)
list(a[0])

['70YKNP',
 '78MWRF',
 '87WUXS',
 '91IETE',
 '21BNHA',
 '89OZLQ',
 '96JYRB',
 '97VUYD',
 '61XYAN',
 '38ZWQB']

In [93]:
names = list(a[0])
names
marks = list(a[1])
marks

[435, 435, 434, 430, 427, 422, 418, 418, 418, 417]

In [94]:
all_data = zip(names, marks)
all_data = list(all_data)

In [95]:
final_data = [list(elem) for elem in all_data]
final_data

[['70YKNP', 435],
 ['78MWRF', 435],
 ['87WUXS', 434],
 ['91IETE', 430],
 ['21BNHA', 427],
 ['89OZLQ', 422],
 ['96JYRB', 418],
 ['97VUYD', 418],
 ['61XYAN', 418],
 ['38ZWQB', 417]]

In [55]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
from collections import namedtuple

In [57]:
clust_data = np.random.random((10,3))

In [58]:
clust_data

array([[0.603913  , 0.84301839, 0.06524976],
       [0.99481659, 0.51062869, 0.5102093 ],
       [0.35813681, 0.70250092, 0.56159767],
       [0.25237767, 0.03020856, 0.88715714],
       [0.23166939, 0.01955872, 0.01259333],
       [0.30516256, 0.74112444, 0.92897434],
       [0.33163153, 0.87223875, 0.42469481],
       [0.08880019, 0.53404285, 0.77305271],
       [0.70659964, 0.6767016 , 0.01931618],
       [0.0729578 , 0.01064281, 0.76740486]])

In [96]:
rank = np.arange(1,11)
rank

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])